.nav {
  background-color: #1b4332;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}
.active {
  background-color: white;
  color: #1b4332;
  border-radius: 3px;
}
ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  flex: 1;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li div {
  text-align: center;
  width: 100%;
}
