@font-face {
  font-family: "Jost Black";
  src: url("../fonts/Jost/Jost-Black_FW900.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Jost Medium";
  src: url("../fonts/Jost/Jost-Medium_FW500.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Jost SemiBold";
  src: url("../fonts/Jost/Jost-SemiBold_FW600.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "PTSerif Bold ";
  src: url("../fonts/PT Serif/PTSerif-Bold_FW700.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "PTSerifCaption Regular ";
  src: url("../fonts/PT Serif Caption/PTSerifCaption-Regular_FW400.ttf")
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Tajawal Bold ";
  src: url("../fonts/Tajawal/Tajawal-Bold_700.ttf") format("truetype");
  font-weight: 700;
}
