.navbar {
  background-color: white !important;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons {
}
.info {
}
.text {
}
